pyodbc
setuptools_rust
flask
flask_cors
jsonify
pydantic==2.7.4
langchain
langchain-community
langchain-huggingface
langchain-qdrant
langchain_core 
qdrant_client
llama-index 
llama-index-vector-stores-qdrant
sentence-transformers
fastEmbed
ibm_db
openpyxl
lark
matplotlib
sqlglot
chromadb
db2
streamlit

